<div class="row">
    <div class="col-lg-12">
        <div class="error color_red">
            {{ form_errors(form) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row form-group">
            {{ form_label(form.isActive, 'Активный', {'label_attr': {'class': 'col-lg-2 align_r'} }) }}
            <div class="col-lg-10">
                {{ form_widget(form.isActive, {'attr': {'class': ''} }) }}
                <div class="error color_red">
                    {{ form_errors(form.isActive) }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ _fields.fullWidthField(form.username, 'Имя пользователя') }}
{{ _fields.fullWidthField(form.email, 'E-mail') }}