{{ form_start(form) }}
    <div id="left">

    </div>

    <div id="right">
        <div class="error">
            {{ form_errors(form) }}
        </div>
            
        <div class="form-buttons">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary icon-save before-padding', 'title': 'Сохранить и остаться в режиме редактирования'}, 'label': 'Сохранить'}) }}
            {{ form_widget(form.saveAndExit, {'attr': {'class': 'btn btn-primary icon-save before-padding', 'title': 'Сохранить и выйти из режима редактирования'}, 'label': 'Сохранить и закрыть'}) }}
            {% if form.delete is defined %}
                {{ form_widget(form.delete, {'attr': {'class': 'btn btn-default icon-remove before-padding', 'title': 'Удалить запись', 'onclick': "return confirm('Удалить запись из БД?')"}, 'label': 'Удалить'}) }}
            {% endif %}
            <a class="btn btn-default icon-ban-circle before-padding" href="{{ path('admin_localization_langs') }}" title="Отменить несохраненные изменения">Закрыть</a>
        </div>

        <div>
            {{ form_label(form.name, 'Название: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.name) }}
            </div>
        </div>
            
        <div>
            {{ form_label(form.sign, 'Код: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.sign, {'attr': {'class': 'form-control', 'min-length': '2'} }) }}
            <div class="notice">
                <em>* длина 2 символа</em>
            </div>
            <div class="error">
                {{ form_errors(form.sign) }}
            </div>
        </div>

    </div>
{{ form_end(form) }}