<h1>Сброс пароля</h1>
<p style="padding-bottom: 10px; font-size: 1.2em;">
    Вы запросили сброс Вашего пароля для авторизации на сайте <a href="http://{{ app.request.server.get('HTTP_HOST') }}" target="_blank" title="Перейти на сайт {{ app.request.server.get('HTTP_HOST') }}">{{ app.request.server.get('HTTP_HOST') }}</a> по логину: <b>{{ user.username }}</b>.<br>
</p>
<p style="padding-bottom: 10px; font-size: 1.2em;">
    Для сброса Вашего текущего пароля к своему аккаунту перейдите по ссылке ниже и придумайте новый пароль:<br>
    <a href="{{ url('user_password_new', {'hash': user.hash}) }}">{{ url('user_password_new', {'hash': user.hash}) }}</a>
</p>
<p style="padding-bottom: 10px; font-size: 1.2em; color: #666">
    Не нужно отвечать на это письмо так как оно было сгенерировано автоматически.<br>
    Проигнорируйте данное письмо если Вы не выполняли операцию сброса пароля на сайте <a href="http://{{ app.request.server.get('HTTP_HOST') }}" target="_blank" title="Перейти на сайт {{ app.request.server.get('HTTP_HOST') }}">{{ app.request.server.get('HTTP_HOST') }}</a> и считаете что письмо отправлено вам случайно.<br>
    Вы по-прежнему можете авторизоваться на сайте по Вашему текущему e-mail и паролю.
</p>