{% extends "BWMainBundle:Layout/Backend:base.html.twig" %}

{% block lang %}ru{% endblock %}

{% block charset %}UTF-8{% endblock %}

{% block title %}| {{ 'admin.control_panel'|trans }}{% endblock %}

{% block description %}{% endblock %}

{% block css %}
    <!-- % CSS % -->
	<link href="{{ asset('css/admin-style.css') }}" type="text/css" rel="stylesheet">
	<link href="{{ asset('libs/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('libs/jquery/css/jquery-ui-1.10.3.custom.min.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
    
{% block js %}
    <!-- % JS % -->
    <script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="{{ asset('libs/jquery/js/jquery-ui-1.10.3.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/admin-script.js') }}" type="text/javascript"></script>
{% endblock %}

{% block header %}
    <div id="main-menu-row" class="row">
        <ul id="main-menu" class="menu-h menu-left row">
            <li class="">
                <a href="{{ path('admin') }}"><i class="icon-home before-padding"></i>{{ 'admin.control_panel'|trans }}</a>
            </li>
            <li class="has-child"><a href="#"><i class="icon-gears before-padding"></i>{{ 'admin.system'|trans }}</a> 
                <ul>
                    <li class="">
                        <a href="{{ path('admin_config') }}"><i class="icon-wrench before-padding"></i>{{ 'admin.configuration'|trans }}</a>
                    </li>
                    <li class="">
                        <a href="{{ path('admin_localization') }}"><i class="icon-globe before-padding"></i>{{ 'admin.localization'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li class="has-child"><a href="#"><i class="icon-user before-padding"></i>{{ 'admin.users'|trans }}</a> 
                <ul>
                    <li class="">
                        <a href="{{ path('admin_users') }}"><i class="icon-user before-padding"></i>{{ 'admin.users'|trans }}</a>
                    </li>
                    <li class="">
                        <a href="{{ path('admin_roles') }}"><i class="icon-group before-padding"></i>{{ 'admin.roles'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li class="has-child"><a href="#"><i class="icon-file-text before-padding"></i>{{ 'admin.content'|trans }}</a> 
                <ul>
                    <li class="">
                        <a href="{{ path('admin_pages') }}"><i class="icon-file-text before-padding"></i>{{ 'admin.pages'|trans }}</a>
                    </li>
                    <li class="">
                        <a href="{{ path('admin_articles') }}"><i class="icon-file-text-alt before-padding"></i>{{ 'admin.articles'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li class="has-child"><a href="#"><i class="icon-link before-padding"></i>{{ 'admin.menu'|trans }}</a> 
                <ul>
                    <li class="">
                        <a href="{{ path('admin_menus') }}"><i class="icon-align-justify before-padding"></i>{{ 'admin.menu'|trans }}</a>
                    </li>
                    <li class="">
                        <a href="{{ path('admin_items') }}"><i class="icon-list before-padding"></i>{{ 'admin.menu_items'|trans }}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul id="main-menu-right" class="menu-h menu-right row">
            {{ render(controller('BWLocalizationBundle:Admin/Lang:langsMenuItem', {'request': app.request})) }}
            <li><a href="{{ path('home') }}" target="_blank"><i class="icon-share before-padding"></i>{{ 'admin.view_site'|trans }}</a></li>
            <li><a href="{{ path('user_sign_out') }}"><i class="icon-signout before-padding"></i>{{ 'user.sign_out'|trans }}</a></li>
        </ul>
    </div>
    <div id="icon-menu">
        <ul class="menu-s row">
            <li><a href="#" title="Открыть панель быстрого вызова" class="icon-windows ">Панель быстрого вызова</a> 
                <ul class="menu-s row">
                    <li><a href="#" class="icon-remove-sign menu-back" title="Закрыть панель">Закрыть</a></li>
                    <li class="">
                        <a href="{{ path('admin_articles') }}" title="Статьи" class="icon-file-text-alt">Статьи</a>
                    </li>
                    <li class="">
                        <a href="{{ path('admin_menus') }}" title="Меню" class="icon-align-justify">Меню</a>
                    </li>
                    <li class="">
                        <a href="{{ path('admin_items') }}" title="Пункты меню" class="icon-list">Пункты меню</a>
                    </li>
                    <li class="">
                        <a href="{{ path('admin_localization') }}" title="Локализация" class="icon-globe">Локализация</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block pre_content %}
{% endblock %}

{% block content %}
    <div id="left">
        {% block left %}
        {% endblock %}
    </div>
        
    <div id="right">
        {% block right %}
        {% endblock %}
    </div>
{% endblock %}

{% block post_content %}
{% endblock %}

{% block footer %}
{% endblock %}
    
{% block overflow %}
{% endblock %}