<ul>
    <li class="has-child"><a href="javascript:void(0)"><i class="icon-flag before-padding"></i>{{ 'localization.lang'|trans }}: {{ app.request.locale|upper }}</a> 
        <ul>
            {% for lang in langs %}
                <li class="">
                    {% if app.request.locale == lang.sign %}
                        <a href="javascript:void(0)"><i class="icon-flag-alt before-padding"></i><strong>{{ lang.name }}&nbsp;({{ lang.sign }})</strong></a>
                    {% else %}
                        <a href="{{ app.request.requestUri|replace({('/'~ app.request.locale ~'/'): ('/'~ lang.sign ~'/')}) }}"><i class="icon-flag-alt before-padding"></i>{{ lang.name }}&nbsp;({{ lang.sign }})</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>
<div class="clear"></div>