{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Редактирование фотографии {{ parent() }}{% endblock %}

{% block content %}
    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon-edit"></i> Редактирование фотографии</h1>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="form-buttons">
        {{ form_widget(form.update) }}
        {{ form_widget(form.updateAndClose) }}
        {{ form_widget(form.delete) }}
        {% include '@BWMain/Utility/Form/close-button.html.twig' with {'path': path('gallery_edit', {'id': entity.gallery.id})} %}
    </div>
    <div class="bw_container">
        <div class="bw_row">
            {{ form_row(form.gallery) }}
            {{ form_row(form.name) }}
            {{ form_row(form.shortDescription) }}

            {{ form_row(form.smallImage) }}
            {% if entity.smallImage %}
                <img src="{{ asset(entity.smallImage.webPath) }}" alt="{{ entity.smallImage.alt }}"/>
            {% endif %}

            {{ form_row(form.bigImage) }}
            {% if entity.bigImage %}
                <img src="{{ asset(entity.bigImage.webPath) }}" alt="{{ entity.bigImage.alt }}"/>
            {% endif %}
        </div>
    </div>
    {{ form_end(form) }}

    <br/>
{% endblock %}