{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Редактирование фотографии {{ parent() }}{% endblock %}

{% block content %}
    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon-edit"></i> Редактирование фотографии</h1>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="form-buttons">
        {{ form_widget(form.update) }}
        {{ form_widget(form.updateAndClose) }}
        {{ form_widget(form.delete) }}
        {% include '@BWMain/Utility/Form/close-button.html.twig' with {'path': path('gallery_edit', {'id': entity.gallery.id})} %}
    </div>
    <div class="bw_container">
        <div class="bw_row">
            {{ form(form) }}
        </div>
    </div>
    {{ form_end(form) }}

    <br/>
{% endblock %}