{{ form_start(form) }}
    <div class="form-buttons">
        {{ form.create is defined ? form_widget(form.create) }}
        {{ form.createAndClose is defined ? form_widget(form.createAndClose) }}
        {{ form.update is defined ? form_widget(form.update) }}
        {{ form.updateAndClose is defined ? form_widget(form.updateAndClose) }}
        {{ form.delete is defined ? form_widget(form.delete) }}
        {% include '@BWMain/Utility/Form/close-button.html.twig' with {'path': path('product')} %}
    </div>

    <div style="padding-bottom: 10px;">
        {{ form_row(form.published) }}
        {{ form_row(form.recent) }}
        {{ form_row(form.featured) }}
        {{ form_row(form.popular) }}
    </div>

    <div style="padding-bottom: 10px;">
        {{ form_row(form.category) }}
    </div>

    <div style="padding-bottom: 10px;">
        {{ form_row(form.vendor) }}
    </div>

    <div style="padding-bottom: 10px;">
        {{ form_row(form.sku) }}
    </div>

    <div style="padding-bottom: 10px;">
        {{ form_row(form.price) }}
    </div>

    <div style="padding-bottom: 10px;">
        {{ form_row(form.heading) }}
    </div>

    <div style="padding-bottom: 10px;">
        {{ form_row(form.shortDescription) }}
    </div>

    <div style="padding-bottom: 10px;">
        {{ form_row(form.description) }}
    </div>

    <h2 >Meta теги:</h2>
    <div style="padding-bottom: 10px;">
        {{ form_row(form.slug) }}
    </div>

    <div style="padding-bottom: 10px;">
        {{ form_row(form.title) }}
    </div>

    <div style="padding-bottom: 10px;">
        {{ form_row(form.metaDescription) }}
    </div>

    {{ form_row(form.productImages.vars.prototype) }}

    <h2>Изображения</h2>
    {% for productImage in form.productImages %}
        <div>
            <img src="{{ asset(productImage.vars.data.image.webPath) }}"
                 alt="{{ productImage.vars.data.image.alt }}"
                 title="{{ productImage.vars.data.image.title }}"
                 style="max-width: 100px; max-height: 100px"
            />
        </div>
        {{ form_row(productImage) }}
    {% endfor %}

{{ form_end(form) }}
