{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Список всех товаров {{ parent() }}{% endblock %}

{% block content -%}
    <div class="form-buttons">
        {% include '@BWMain/Utility/Form/add-button.html.twig' with {'path': path('product_new')} %}
    </div>

    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon-list"></i> Список товаров</h1>
        </div>
    </div>

    <div class="main-table">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Заголовок</th>
                    <th>Псевдоним URL</th>
                    <th>Производитель</th>
                    <th>Категория</th>
                    <th>Опубликовано</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td><a href="{{ path('product_edit', { 'id': entity.id }) }}">{{ entity.heading }}</a></td>
                    <td>{{ entity.slug }}</td>
                    <td>{{ entity.vendor ? entity.vendor.heading : '< Без производителя >' }}</td>
                    <td>{{ entity.category ? entity.category.heading : '< Без категории >' }}</td>
                    <td>{{ entity.published ? 'Да' : 'Нет' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
