{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}{{ entity.title ? entity.title : entity.heading }}{% endblock %}

{% block metaDescription %}{{ entity.metaDescription }}{% endblock %}

{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {{ service('bw_blog.widget').lastPosts()|raw }}
            </div>
            <div class="col-lg-9">
                <h1>{{ entity.heading }}</h1>
                <table class="record_properties">
                    <tbody>
                        <tr>
                            <th>Description</th>
                            <td>{{ entity.description|raw }}</td>
                        </tr>
                        <tr>
                            <th>Slug</th>
                            <td>{{ entity.slug }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ entity.title }}</td>
                        </tr>
                        <tr>
                            <th>Metadescription</th>
                            <td>{{ entity.metaDescription }}</td>
                        </tr>
                        <tr>
                            <th>Published</th>
                            <td>{{ entity.published }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
