{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}{{ entity.title ? entity.title : entity.heading }}{% endblock %}

{% block metaDescription %}{{ entity.metaDescription }}{% endblock %}

{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {{ service('bw_blog.widget').lastPosts()|raw }}
            </div>
            <div class="col-lg-9">
                <div class="product">
                    <h1>
                        {{ entity.heading }}
                    </h1>
                    {% if entity.productImages.count %}
                        <div class="image">
                            <img src="{{ asset(entity.productImages.first.image.webPath)|imagine_filter('large_thumb') }}"
                                 alt="{{ entity.productImages.first.image.alt }}"
                                 title="{{ entity.productImages.first.image.title }}"
                            />
                        </div>
                    {% endif %}
                    {% if entity.category %}
                        <div class="category">
                            {#Категория: <a href="{{ path('category_show_by_slug', {'slug': entity.category.slug}) }}">#}
                            Категория: <a href="{{ app.request.uriForPath(entity.category.route.path) }}">
                                {{ entity.category.heading }}
                            </a>
                        </div>
                    {% endif %}
                    {% if entity.vendor %}
                        <div class="vendor">
                            Производитель: <a href="{{ path('vendor_show_by_slug', {'slug': entity.vendor.slug}) }}">
                                {{ entity.vendor.heading }}
                            </a>
                            {% if entity.vendor.image %}
                                <div class="vendor_image">
                                    <a href="{{ path('vendor_show_by_slug', {'slug': entity.vendor.slug}) }}">
                                        <img src="{{ asset(entity.vendor.image.webPath)|imagine_filter('small_thumb') }}"
                                             alt="{{ entity.vendor.image.alt }}"
                                             title="{{ entity.vendor.image.title }}"
                                                />
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="sku">
                        Артикул: {{ entity.sku }}
                    </div>
                    <div class="price">
                        Цена: {{ entity.price }} грн.
                        <input class="btn btn-primary" type="button" value="Купить"/>
                    </div>
                    <div class="short_description">
                        Описание: {{ entity.description|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
