<h3>Фильтр контента</h3>
{{ form_start(form) }}
    <div>
        {# generate named separators for rendering checkboxes groups #}
        {% set separators = [] %}
        {% set offset = 0 %}
        {% for name, choice in form.properteis.vars.choices %}
            {% set separators = separators|merge({('index_' ~ offset): name}) %}
            {% set offset = offset + choice|length %}
        {% endfor %}

        {{ form_label(form.properteis, 'Настраиваемые поля: ', {'label_attr': {'class': ''} }) }}
        <ul>
            {% for property in form.properteis %}
                {% if separators['index_' ~ loop.index0] is defined %}
                    <li class="separator">{{ separators['index_' ~ loop.index0] }}</li>
                {% endif %}
                <li>{{ form_widget(property) }} - {{ form_label(property) }}</li>
            {% endfor %}
        </ul>
        <div class="error">
            {{ form_errors(form.properteis) }}
        </div>
    </div>
    <div>
        {{ form_widget(form.apply, {'attr': {'class': 'btn btn-primary icon-save before-padding'}, 'label': 'Применить'}) }}
    </div>
{{ form_end(form) }}