{%- macro generateHref(request, item) -%}
{% spaceless %}
    {% if item.type %} 
        {% if item.type.id == 1 %}
            {{ item.getHref() }}
        {% elseif item.type.id == 2 %}
            {{ request.getBasePath() ~ (app.environment == 'dev' ? '/app_dev.php') ~ (request.getLocale() ? '/'~ request.getLocale() : '') ~'/'~ item.getHref() }}
        {% elseif item.type.id == 3 %}
            {{ path('post', {'slug': item.post.slug}) }}
        {% elseif item.type.id == 4 %}
            {{ path('posts') }}
        {% endif %}
    {% endif %}
{% endspaceless %}
{%- endmacro -%}

{% macro menuRecursion(request, items, level = 1) %}
    <ul class="level_{{ level }}">
        {% for item in items %}
            <li class="item_{{ item.current.id }}{% if item.current.class %} {{ item.current.class }}{% endif %}">
                <a href="{{- _self.generateHref(request, item.current) -}}"{% if item.current.title %} title="{{ item.current.title }}"{% endif %}{% if item.current.blank %} target="_blank"{% endif %}>{{ item.current.name }}</a>
                {% if item.children is defined %}
                    {{ _self.menuRecursion(request, item.children, level + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<div>
    {% if heading is not sameas(false) %}
        <h3>{{ heading ? heading : menu.name }}</h3>
    {% endif %}
    {{ _self.menuRecursion(request, items) }}
</div>