<div class="row">
    <div class="col-lg-12">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div style="text-align: right; line-height: 30px;">
                Вы авторизированы как: <strong title="{{ app.user.email ? app.user.email }}">{{ app.user.username }}</strong>
                | <a href="{{ path('user_sign_out') }}">Выйти</a><br> 
                {% if is_granted('ROLE_ADMIN') %}
                    env: <a href="{{ app.request.getBasePath() ~ (app.request.getLocale() ? '/'~ app.request.getLocale ~'/' : '') }}">prod</a>
                    / <a href="{{ app.request.getBasePath() ~'/app_dev.php'~ (app.request.getLocale() ? '/'~ app.request.getLocale ~'/' : '') }}">dev</a>
                    | <a href="{{ path('admin') }}">Панель управления</a> | 
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('user_profile_personal') }}">Личный кабинет</a>
                {% endif %}
            </div>
        {% else %}
            <form id="auth-form" action="{{ path('user_sign_in_check') }}" method="POST">
                <input id="email" type="text" name="_username" size="40" value="e-mail or login..." required="required">
                <input id="password" type="password" name="_password" size="40" placeholder="password..." required="required">
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}
                <button type="submit">Войти</button>
                {# Авторизация через соц.сети #}
                {% include 'BWUserBundle:User/social:sign-in-thumbs.html.twig' %}
                <div style="text-align: right;">
                    <a href="{{ path('user_sign_up') }}" class="registration">Зарегистрироваться</a> | <a href="{{ path('user_password_reset') }}" class="reset_password">Забыли пароль?</a>
                </div>
            </form>
        {% endif %}
        <div class="clear"></div>
    </div>
</div>