{{ form_start(form) }}
    <div id="left">

    </div>

    <div id="right">
        <div class="error">
            {{ form_errors(form) }}
        </div>

        <div class="form-buttons">
            {% if article.slug %}
                <a class="btn btn-primary icon-share before-padding" href="{{ path('article', {'slug': article.slug}) }}" target="_blank" title="Просмотреть на сайте">Просмотр</a>
            {% endif %}
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary icon-save before-padding', 'title': 'Сохранить и остаться в режиме редактирования'}, 'label': 'Сохранить'}) }}
            {{ form_widget(form.saveAndExit, {'attr': {'class': 'btn btn-primary icon-save before-padding', 'title': 'Сохранить и выйти из режима редактирования'}, 'label': 'Сохранить и закрыть'}) }}
            {% if form.delete is defined %}
                {{ form_widget(form.delete, {'attr': {'class': 'btn btn-default icon-remove before-padding', 'title': 'Удалить запись', 'onclick': "return confirm('Удалить запись из БД?')"}, 'label': 'Удалить'}) }}
            {% endif %}
            <a class="btn btn-default icon-ban-circle before-padding" href="{{ path('admin_articles') }}" title="Отменить несохраненные изменения">Закрыть</a>
        </div>

        <div>
            {{ form_label(form.published, 'Опубиковано: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.published, {'attr': {'class': ''} }) }}
            <div class="error">
                {{ form_errors(form.published) }}
            </div>
        </div>

        <div>
            {{ form_label(form.lang, 'Язык: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.lang, {'attr': {'class': 'form-control'} }) }}
            <div class="error">
                {{ form_errors(form.lang) }}
            </div>
        </div>
        
        <div>
            {{ form_label(form.heading, 'Заголовок: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.heading, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.heading) }}
            </div>
        </div>

        <div>
            {{ form_label(form.shortDescription, 'Короткое описание :', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.shortDescription, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.shortDescription) }}
            </div>
        </div>

        <div>
            {{ form_label(form.content, 'Текст статьи: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.content) }}
            </div>
        </div>

        <div>
            {{ form_label(form.created, 'Дата создания: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.created, {'attr': {'class': ' '} }) }}
            <div class="error">
                {{ form_errors(form.created) }}
            </div>
        </div>

        <h2>Meta теги:</h2>

        <div>
            {{ form_label(form.slug, 'Slug: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.slug, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.slug) }}
            </div>
        </div>

        <div>
            {{ form_label(form.title, 'Title: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.title) }}
            </div>
        </div>

        <div>
            {{ form_label(form.metaDescription, 'Description: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.metaDescription, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.metaDescription) }}
            </div>
        </div>
    </div>
{{ form_end(form) }}