{% extends 'BWMainBundle:Layout/Frontend:layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block description %}{{ page.metaDescription }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {{ bw.block.menu('main_menu')|raw }}
            </div>
            <div class="col-lg-9">
                <h1>{{ page.heading }}</h1>
                <div>{{ page.content|raw }}</div>
            </div>
        </div>
    </div>
{% endblock %}