{% extends 'BWMainBundle:Layout/Backend:layout.html.twig' %}

{% block title %}Добавление новой статьи {{ parent() }}{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- CKEditor/CKFinder -->
    <script src="{{ asset('libs/ckeditor4/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('libs/ckfinder2/ckfinder.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            //alert('DOM');
            var editor = CKEDITOR.replace( 'post_content' );
            CKFinder.setupCKEditor( editor, '{{ asset('libs/ckfinder2/') }}' );
        });
    </script>
    <!-- /CKEditor/CKFinder -->
{% endblock %}

{% block content %}
    <h1>Создание статьи</h1>
    {% include 'BWBlogBundle:Admin/Post:post.html.twig' %}
{% endblock %}