{{ form_start(form) }}
    <div id="left">

    </div>

    <div id="right">
        <div class="error">
            {{ form_errors(form) }}
        </div>

        <div class="form-buttons">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary icon-save before-padding', 'title': 'Сохранить и остаться в режиме редактирования'}, 'label': 'Сохранить'}) }}
            {{ form_widget(form.saveAndExit, {'attr': {'class': 'btn btn-primary icon-save before-padding', 'title': 'Сохранить и выйти из режима редактирования'}, 'label': 'Сохранить и закрыть'}) }}
            {% if form.delete is defined %}
                {{ form_widget(form.delete, {'attr': {'class': 'btn btn-default icon-remove before-padding', 'title': 'Удалить запись', 'onclick': "return confirm('Удалить запись из БД?')"}, 'label': 'Удалить'}) }}
            {% endif %}
            <a class="btn btn-default icon-ban-circle before-padding" href="{{ path('admin_mailing_messages') }}" title="Отменить несохраненные изменения">Закрыть</a>
        </div>

        <div>
            {{ form_label(form.roles, 'Роли пользователей: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.roles, {'attr': {'class': 'form-control'} }) }}
            <div class="error">
                {{ form_errors(form.roles) }}
            </div>
        </div>

        <div>
            {{ form_label(form.subject, 'Тема: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.subject, {'attr': {'class': 'form-control'} }) }}
            <div class="error">
                {{ form_errors(form.subject) }}
            </div>
        </div>

        <div>
            {{ form_label(form.text, 'Сообщение: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.text, {'attr': {'class': 'form-control'} }) }}
            <div class="error">
                {{ form_errors(form.text) }}
            </div>
        </div>
    </div>
{{ form_end(form) }}