{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}Demo{% endblock %}

{% block pre_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="slider">
                    <img src="{{ asset('images/main_image.png') }}" alt="" width="100%">
				</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p>
                    Примеры использования встроенных виджетов в исходном коде любого twig-шаблона =>
                </p>
            </div>
            <div class="col-lg-9">
                <div class="example">
                    <h1>Demo</h1>
                    <i>Адрес этой демо-странички:</i><br/>
                    <pre>BWMainBundle:Demo:index.html.twig</pre>
                    <a href="https://github.com/bocharsky-bw/bow/blob/master/src/BW/MainBundle/Resources/views/Demo/index.html.twig" target="_blank">Исходный код</a><br/>
                </div>
                <div class="example">
                    <h2>+ Блок статического HTML кода:</h2>
                    <pre>{{ '{%' }} include 'BWMainBundle:Static:banner.html.twig' {{ '%}' }}</pre>
                    <a href="http://twig.sensiolabs.org/doc/tags/include.html#include" target="_blank">Документация</a><br/>
                    <i>Пример:</i><br/>
                    {% include 'BWMainBundle:Static:banner.html.twig' %}
                </div>
                <div class="example">
                    <h2>+ Лайки соц.сетей:</h2>
                    <pre>{{ '{%' }} include 'BWUserBundle:User/social:likes.html.twig' {{ '%}' }}</pre>
                    <i>Пример:</i><br/>
                    {% include 'BWUserBundle:User/social:likes.html.twig' %}
                </div>
                <div class="example">
                    <h2>+ Список категорий:</h2>
                    <pre>{{ '{{' }} service('bw_blog.widget').listCategories($categories = null, $template = 'list-categories')|raw {{ '}}' }}</pre>
                    <a href="https://github.com/bocharsky-bw/bow/blob/master/src/BW/BlogBundle/Service/Widget.php#L35" target="_blank">Документация</a><br/>
                    <i>Пример:</i><br/>
                    {{ service('bw_blog.widget').listCategories()|raw }}
                </div>
                <div class="example">
                    <h2>+ Список последних статей:</h2>
                    <pre>{{ '{{' }} service('bw_blog.widget').lastPosts($count = 5, $categories = null, $template = 'last-posts')|raw {{ '}}' }}</pre>
                    <a href="https://github.com/bocharsky-bw/bow/blob/master/src/BW/BlogBundle/Service/Widget.php#L73" target="_blank">Документация</a><br/>
                    <i>Пример:</i><br/>
                    {{ service('bw_blog.widget').lastPosts()|raw }}
                </div>
                <div class="example">
                    <h2>+ Список доступных языков:</h2>
                    <pre>{{ '{{' }} service('bw_localization.widget').langs()|raw {{ '}}' }}</pre>
                    <i>Пример:</i><br/>
                    {{ service('bw_localization.widget').langs()|raw }}
                </div>
                <div class="example">
                    <h2>+ Список пунктов меню:</h2>
                    <pre>{{ '{{' }} service('bw_menu.widget').getMenu($alias, $display_heading = true)|raw {{ '}}' }}</pre>
                    <a href="https://github.com/bocharsky-bw/bow/blob/master/src/BW/MenuBundle/Service/Widget.php#L39" target="_blank">Документация</a><br/>
                    <i>Пример:</i><br/>
                    {{ service('bw_menu.widget').getMenu('main_menu')|raw }}
                </div>
                <div class="example">
                    <h2>+ Слайдер:</h2>
                    <pre>{{ '{{' }} service('bw_slider.widget').create('slider-1')|raw {{ '}}' }}</pre>
                    <a href="https://github.com/bocharsky-bw/bow/blob/master/src/BW/SliderBundle/Service/Widget.php#L39" target="_blank">Документация</a><br/>
                </div>
                <div class="example">
                    <h2>+ Группа слайдеров:</h2>
                    <pre>{{ '{{' }} service('bw_slider.widget').createGroup('group-1')|raw {{ '}}' }}</pre>
                    <a href="https://github.com/bocharsky-bw/bow/blob/master/src/BW/SliderBundle/Service/Widget.php#L62" target="_blank">Документация</a><br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}