{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}Demo{% endblock %}

{% block pre_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="slider">
                    <img src="{{ asset('images/main_image.png') }}" alt="" width="100%">
				</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p>
                    Примеры использования встроенных виджетов в исходном коде любого twig-шаблона =>
                </p>
            </div>
            <div class="col-lg-9">
                <h1>Demo</h1>
                    <p><i>Адрес демо-странички:</i></p>
                    <pre>BWMainBundle:Demo:index.html.twig</pre>
                <h2>+ Лайки соц.сетей:</h2>
                    <p><i>Подключение:</i></p>
                    <pre>&#123;&#37; include 'BWUserBundle:User/social:likes.html.twig' &#37;&#125;</pre>
                    <p><i>Пример:</i></p>
                    {% include 'BWUserBundle:User/social:likes.html.twig' %}
                <h2>+ Блок статического HTML кода:</h2>
                    <p><i>Подключение:</i></p>
                    <pre>&#123;&#37; include 'BWMainBundle:Static:banner.html.twig' &#37;&#125;</pre>
                    <p><i>Пример:</i></p>
                    {% include 'BWMainBundle:Static:banner.html.twig' %}
                <h2>+ Список категорий:</h2>
                    <p><i>Подключение:</i></p>
                    <pre>&#123;&#123; service('bw_blog.widget').listCategories(2)|raw &#125;&#125;</pre>
                    <p>
                        <small>
                            где: <b>2</b> - ID категории в БД.<br>
                            по умолчанию: список всех категорий
                        </small>
                    </p>
                    <p><i>Пример:</i></p>
                    {{ service('bw_blog.widget').listCategories()|raw }}
                <h2>+ Список последних статей:</h2>
                    <p><i>Подключение:</i></p>
                    <pre>&#123;&#123; service('bw_blog.widget').lastPosts(3, 0)|raw &#125;&#125;</pre>
                    <p>
                        <small>
                            где: <b>3</b> - количество записей.<br>
                            где: <b>0</b> - ID категории. Или передать несколько ID категорий массивам как <b>[1,2,3]</b>.<br>
                            по умолчанию: 5 последних записей
                        </small>
                    </p>
                    <p><i>Пример:</i></p>
                    {{ service('bw_blog.widget').lastPosts(3, 0)|raw }}
                <h2>+ Список доступных языков:</h2>
                    <p><i>Подключение:</i></p>
                    <pre>&#123;&#123; service('bw_localization.widget').langs()|raw &#125;&#125;</pre>
                    <p><i>Пример:</i></p>
                    {{ service('bw_localization.widget').langs()|raw }}
                <h2>+ Список пунктов меню:</h2>
                    <p><i>Подключение:</i></p>
                    <pre>&#123;&#123; service('bw_menu.widget').getMenu('main_menu', false)|raw &#125;&#125;</pre>
                    <p>
                        <small>
                            где: <b>main_menu</b> - alias меню, <b>false</b> - не отображать заголовок меню.<br>
                        </small>
                    </p>
                    <p><i>Пример:</i></p>
                    {{ service('bw_menu.widget').getMenu('main_menu', false)|raw }}
                <h2>+ Слайдер:</h2>
                    <p><i>Подключение:</i></p>
                    <pre>&#123;&#123; service('bw_slider.widget').create('slider-1')|raw &#125;&#125;</pre>
                    <p>
                        <small>
                            где: <b>slider-1</b> - alias слайдера
                        </small>
                    </p>
            </div>
        </div>
    </div>
{% endblock %}