{% extends 'BWMainBundle:Layout/Frontend:layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block description %}{{ post.metaDescription }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ service('bw.breadcrumbs').generateFromPost(post)|raw }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                {#{ bw.block.menu('main_menu')|raw }#}3333333333333333333
            </div>
            <div class="col-lg-9">
                <h1>{{ post.heading }}</h1>
                <div>{{ post.content|raw }}</div>
            </div>
        </div>
    </div>
{% endblock %}