{{ form_start(form) }}
    <div id="left">

    </div>

    <div id="right">
        <div class="error">
            {{ form_errors(form) }}
        </div>
DELETE
{#
        <div>
            Тип пункта меню: <strong>{{ item.type ? item.type.name : 'Не выбран' }}</strong> | 
            <a href="{{ path('admin_item_types', {'item_id': item.id}) }}">{{ item.type ? 'Изменить' : 'Выбрать' }}</a>
        </div>
#}            
        {% if itemTypeFilenamePath is defined %}
            {% include itemTypeFilenamePath %}
        {% endif %}
            
        <br>
            
        <div class="form-buttons">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary icon-save before-padding', 'title': 'Сохранить и остаться в режиме редактирования'}, 'label': 'Сохранить'}) }}
            {{ form_widget(form.saveAndClose, {'attr': {'class': 'btn btn-primary icon-save before-padding', 'title': 'Сохранить и выйти из режима редактирования'}, 'label': 'Сохранить и закрыть'}) }}
            {% if form.delete is defined %}
                {{ form_widget(form.delete, {'attr': {'class': 'btn btn-default icon-remove before-padding', 'title': 'Удалить запись', 'onclick': "return confirm('Удалить запись из БД?')"}, 'label': 'Удалить'}) }}
            {% endif %}
            <a class="btn btn-default icon-ban-circle before-padding" href="{{ path('admin_items') }}" title="Отменить несохраненные изменения">Закрыть</a>
        </div>

        <div>
            {{ form_label(form.menu, 'Меню: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.menu, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.menu) }}
            </div>
        </div>

        <div>
            {{ form_label(form.parent, 'Родительский пункт меню: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.parent, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.parent) }}
            </div>
        </div>
        
        <div>
            {{ form_label(form.href, 'Адрес ссылки: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.href, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.href) }}
            </div>
        </div>
        
        <br>
        
        <div>
            {{ form_label(form.name, 'Название: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.name) }}
            </div>
        </div>
            
        <div>
            <abbr title="Атрибут title">{{ form_label(form.title, 'Всплывающая подсказка: ', {'label_attr': {'class': ''} }) }}</abbr>
            {{ form_widget(form.title, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.title) }}
            </div>
        </div>
            
        <div>
            <abbr title="Атрибут class">{{ form_label(form.class, 'Дополнительный класс: ', {'label_attr': {'class': ''} }) }}</abbr>
            {{ form_widget(form.class, {'attr': {'class': 'form-control '} }) }}
            <div class="error">
                {{ form_errors(form.class) }}
            </div>
        </div>
            
        <div>
            {{ form_label(form.lang, 'Язык: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.lang, {'attr': {'class': 'form-control'} }) }}
            <div class="error">
                {{ form_errors(form.lang) }}
            </div>
        </div>
            
        <div>
            {{ form_label(form.ordering, 'Порядок сортировки: ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.ordering, {'attr': {'class': 'form-control'} }) }}
            <div class="error">
                {{ form_errors(form.ordering) }}
            </div>
        </div>

        <div>
            {{ form_label(form.blank, 'Открывать в новом окне? ', {'label_attr': {'class': ''} }) }}
            {{ form_widget(form.blank, {'attr': {'class': ''} }) }}
            <div class="error">
                {{ form_errors(form.blank) }}
            </div>
        </div>

    </div>
{{ form_end(form) }}