{% extends 'BWMainBundle:Layout/Frontend:layout.html.twig' %}

{% block title %}Изменение пароля пользователя на сайте ALVi Food{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h1><i class="fa fa-refresh"></i> Изменение пароля</h1>
                {{ form_start(form) }}
                    {% if form_errors(form) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    <div>
                        <div>
                            {{ form_label(form.password.first, 'Новый пароль: ', {'label_attr': {'class': ''} }) }}
                            {{ form_widget(form.password.first, {'attr': {'class': 'form-control '} }) }}
                        </div>
                        <div>
                            {{ form_label(form.password.second, 'Подтверждение пароля: ', {'label_attr': {'class': ''} }) }}
                            {{ form_widget(form.password.second, {'attr': {'class': 'form-control '} }) }}
                        </div>
                        {% if form_errors(form.password.first) or form_errors(form.password.second) %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.password.first) }}
                                {{ form_errors(form.password.second) }}
                            </div>
                        {% endif %}
                    </div>

                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary icon-save before-padding'}, 'label': 'Сохранить новый пароль'}) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}