{% extends 'BWMainBundle:Layout/Frontend:layout.html.twig' %}

{% block title %}Авториация на сайте ALVi Food{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h1><i class="fa fa-refresh"></i> Сброс пароля</h1>
                {{ form_start(form) }}
                    {% if form_errors(form) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    <div>
                        {{ form_label(form.email, 'E-mail: ', {'label_attr': {'class': ''} }) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'my.email@gmail.com'} }) }}
                        {% if form_errors(form.email) %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.email) }}
                            </div>
                        {% endif %}
                    </div>

                    {{ form_widget(form.reset, {'attr': {'class': 'btn btn-primary icon-save before-padding'}, 'label': 'Сбросить пароль'}) }}

                    <p>
                        Или попробовать еще раз <a href="{{ path('user_sign_in') }}">авторизоваться</a>.
                    </p>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}