{% extends 'BWMainBundle:Layout/Frontend:layout.html.twig' %}

{% block title %}Регистрация на сайте{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Регистрация</h1>
                {{ form_start(form) }}
                    {% if form_errors(form) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    <div>
                        {{ form_label(form.username, 'Логин: ', {'label_attr': {'class': ''} }) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'} }) }}
                        {% if form_errors(form.username) %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.username) }}
                            </div>
                        {% endif %}
                    </div>

                    <div>
                        {{ form_label(form.email, 'E-mail: ', {'label_attr': {'class': ''} }) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control '} }) }}
                        {% if form_errors(form.email) %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.email) }}
                            </div>
                        {% endif %}
                    </div>

                    <div>
                        <div>
                            {{ form_label(form.password.first, 'Новый пароль: ', {'label_attr': {'class': ''} }) }}
                            {{ form_widget(form.password.first, {'attr': {'class': 'form-control '} }) }}
                        </div>
                        <div>
                            {{ form_label(form.password.second, 'Подтверждение пароля: ', {'label_attr': {'class': ''} }) }}
                            {{ form_widget(form.password.second, {'attr': {'class': 'form-control '} }) }}
                        </div>
                        {% if form_errors(form.password.first) or form_errors(form.password.second) %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.password.first) }}
                                {{ form_errors(form.password.second) }}
                            </div>
                        {% endif %}
                    </div>
                
                    {{ form_widget(form.register, {'attr': {'class': 'btn btn-primary icon-save before-padding'}, 'label': 'Зарегистрироваться'}) }}
                
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}