{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Создание новой категории{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- CKEditor/CKFinder -->
    <script src="{{ asset('libs/ckeditor4/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('libs/ckfinder2/ckfinder.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            //alert('DOM');
            var editorDescription = CKEDITOR.replace( 'bw_category_description' );
            CKFinder.setupCKEditor( editorDescription, '{{ asset('libs/ckfinder2/') }}' );
            var editorShortDescription = CKEDITOR.replace( 'bw_category_shortDescription' );
            CKFinder.setupCKEditor( editorShortDescription, '{{ asset('libs/ckfinder2/') }}' );
        });
    </script>
    <!-- /CKEditor/CKFinder -->
{% endblock %}

{% block content -%}
    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon-plus"></i> Создание категории</h1>
        </div>
    </div>

    <div class="bw_container">
        <div class="bw_row">
            {% include 'BWShopBundle:Category:form.html.twig' %}
        </div>
    </div>
{% endblock %}
