{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}{{ entity.title ? entity.title : entity.heading }}{% endblock %}

{% block metaDescription %}{{ entity.metaDescription }}{% endblock %}

{% block head %}
    {{ parent() }}
    {% if app.request.query.get('page') %}
        <link rel="canonical" href="{{ url('category_show_by_slug', {'slug': entity.slug}) }}" />
    {% endif %}
{% endblock %}

{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {{ service('bw_blog.widget').lastPosts()|raw }}
                {{ form(form) }}
            </div>
            <div class="col-lg-9">
                <div class="category">
                    <h1>
                        {{ entity.heading }}
                    </h1>
                    {% if entity.parent %}
                        <div class="category">
                            Родительская категория:
                            <a href="{{ app.request.uriForPath(entity.parent.route.path) }}">
                                {{ entity.parent.heading }}
                            </a>
                        </div>
                    {% endif %}
                    <div class="description">
                        {{ entity.description|raw }}
                    </div>
                </div>
                {% if pagination.getTotalItemCount %}
                    <div class="products">
                        {% for product in pagination %}
                            {% include 'BWShopBundle:Product:row.html.twig' with {'entity': product} %}
                        {% endfor %}
                    </div>
                    <div class="count">
                        {{ pagination.getTotalItemCount }}
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% else %}
                    <div>Товары отстутствуют</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
