{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}{{ entity.title ? entity.title : entity.heading }}{% endblock %}

{% block metaDescription %}{{ entity.metaDescription }}{% endblock %}

{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {{ service('bw_blog.widget').lastPosts()|raw }}
            </div>
            <div class="col-lg-9">
                <div class="category">
                    <h1>
                        {{ entity.heading }}
                    </h1>
                    {% if entity.parent %}
                        <div class="category">
                            Родительская категория:
                            <a href="{{ path('category_show_by_slug', {'slug': entity.parent.slug}) }}">
                                {{ entity.parent.heading }}
                            </a>
                        </div>
                    {% endif %}
                    <div class="description">
                        {{ entity.description|raw }}
                    </div>
                </div>
                {% if products %}
                    <div class="products">
                        {% for product in products %}
                            {% include 'BWShopBundle:Product:row.html.twig' with {'entity': product} %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div>Товары отстутствуют</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
