{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Список пополнений {% endblock %}

{% block pre_content %}
    <div class="form-buttons">
        <a class="btn btn-primary icon-plus before-padding" href="{{ path('admin_currency_add') }}" title="Добавить новую запись">Создать</a>
    </div>
{% endblock %}

{% block content %}
    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon icon-cloud-download"></i> Список пополнений</h1>
        </div>
    </div>
    {% if replenishments %}
        <div class="main-table">   
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 5%" class="ta_c">№</th>
                        <th>Пользователь</th>
                        <th>Сумма пополнения</th>
                        <th>Эквивалент в валюте</th>
                        <th>Пополнено</th>
                        <th class="ta_c">Статус</th>
                        <th class="ta_c">Действия</th>
                        <th class="ta_c">Квитанция</th>
                        <th style="width: 5%" class="ta_c">ID</th>
                    </tr>
                </thead> 
                {% for replenishment in replenishments %}
                    <tbody>
                        <tr>
                            <td class="ta_c">{{ loop.index }}</td>
                            <td>
                                {{ replenishment.profile.surname }} {{ replenishment.profile.name }} {{ replenishment.profile.patronymic }}
                            </td>
                            <td>
                                {{ replenishment.additiveAmount}} грн.
                            </td>
                            <td>
                                {{ replenishment.equivalentAmount }} <abbr title="{{ replenishment.currency.name }}">{{ replenishment.currency.symbol }}</abbr>
                            </td>
                            <td>
                                {{ replenishment.created|date('d/m/Y в H:i:s') }}
                            </td>
                            <td class="ta_c">
                                {% if replenishment.status == 2 %}
                                    <i class="icon icon-check-minus" title="{{ replenishment_statuses[2] }}"></i>
                                {% elseif replenishment.status == 1 %}
                                    <i class="icon icon-check" title="{{ replenishment_statuses[1] }}"></i>
                                {% else %}
                                    <i class="icon icon-unchecked" title="{{ replenishment_statuses[0] }}"></i>
                                {% endif %}
                            </td>
                            <td class="ta_c">
                                <a href="{{ path('admin_replenishment_confirm', {'id': replenishment.id}) }}" title="Подтвердить пополнение"><i class="icon icon-ok-sign"></i></a>
                                <a href="{{ path('admin_replenishment_reject', {'id': replenishment.id}) }}" title="Отклонить пополнение"><i class="icon icon-remove-sign"></i></a>
                            </td>
                            <td class="ta_c">
                                {% if replenishment.receipt %}
                                    <a href="{{ asset(replenishment.receipt.getWebPath()) }}" target="_blank">
                                        <i class="icon icon-eye-open" title="Просмотреть квитанцию"></i>
                                    </a>
                                {% else %}
                                    <span title="Квитанция отсутствует">~</span>
                                {% endif %}
                            </td>
                            <td class="ta_c">
                                <span title="ID элемента в БД">{{ replenishment.id }}</span>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="ta_c">Записи отсутствуют</div>
    {% endif %}
{% endblock %}