{% extends 'BWMainBundle:Layout/Backend:layout.html.twig' %}

{% block title %}Список меню {{ parent() }}{% endblock %}

{% block pre_content %}
    <div class="form-buttons">
        <a class="btn btn-primary icon-plus before-padding" href="{{ path('admin_menu_add') }}" title="Добавить новое меню">Создать меню</a>
        <a class="btn btn-primary icon-plus before-padding" href="{{ path('admin_item_add') }}" title="Добавить новою ссылку">Создать ссылку</a>
    </div>
{% endblock %}

{% block content %}
    <h1>Список меню</h1>
    {% if menus %}
        <div class="main-table">   
            <table class="table table-striped table-hover">
                <thead>
                    <tr valign="middle">
                        <th style="width: 5%" class="ta_c">№</th>
                        <th>Название</th>
                        <th style="width: 20%">Действия</th>
                        <th style="width: 5%" class="ta_c"><abbr title="Количество ссылок">Кол-во</abbr></th>
                        <th style="width: 5%" class="ta_c">ID</th>
                    </tr>
                </thead> 
                {% for menu in menus %}
                    <tbody>
                        <tr>
                            <td class="ta_c">{{ loop.index }}</td>
                            <td>
                                <a href="{{ path('admin_menu_edit', {'id': menu.id}) }}" title="Редактировать меню">{{ menu.name }}</a> 
                                <div>{{ menu.description }}</div>
                            </td>
                            <td>
                                <a href="{{ path('admin_items', {'menu_id': menu.id}) }}" title="Показать пункты меню">Список ссылок</a>
                            </td>
                            <td class="ta_c">
                                {{ menu.items.count }}
                            </td>
                            <td class="ta_c">
                                <span title="ID меню">{{ menu.id }}</span>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="ta_c">Записи отсутствуют</div>
    {% endif %}
{% endblock %}