{{ form_start(form) }}
    <div class="bw_container">
        <div class="bw_row">
            <div class="error">
                {{ form_errors(form) }}
            </div>

            <div class="form-buttons">
                <a class="btn btn-primary icon-plus before-padding" href="{{ path('admin_slide_add') }}" title="Добавить новый слайд">Создать слайд</a>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary icon-save before-padding', 'title': 'Сохранить и остаться в режиме редактирования'}, 'label': 'Сохранить'}) }}
                {{ form_widget(form.saveAndExit, {'attr': {'class': 'btn btn-primary icon-save before-padding', 'title': 'Сохранить и выйти из режима редактирования'}, 'label': 'Сохранить и закрыть'}) }}
                {% if form.delete is defined %}
                    {{ form_widget(form.delete, {'attr': {'class': 'btn btn-default icon-remove before-padding', 'title': 'Удалить запись', 'onclick': "return confirm('Удалить запись из БД?')"}, 'label': 'Удалить'}) }}
                {% endif %}
                <a class="btn btn-default icon-ban-circle before-padding" href="{{ path('admin_sliders') }}" title="Отменить несохраненные изменения">Закрыть</a>
            </div>

            <div>
                {{ form_label(form.name, 'Название: ', {'label_attr': {'class': ''} }) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control '} }) }}
                <div class="error">
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div>
                {{ form_label(form.alias, 'Alias: ', {'label_attr': {'class': ''} }) }}
                {{ form_widget(form.alias, {'attr': {'class': 'form-control '} }) }}
                <div class="error">
                    {{ form_errors(form.alias) }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}