{% if group.sliders.count %}
    <div class="main-table">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 5%" class="ta_c">
                        №
                    </th>
                    <th>Название</th>
                    <th>Alias</th>
                    <th style="width: 5%" class="ta_c">ID</th>
                </tr>
            </thead>
            {% for slider in group.sliders %}
                <tbody>
                    <tr>
                        <td class="ta_c">
                            {{ loop.index }}
                        </td>
                        <td>
                            <a href="{{ path('admin_slider_edit', {'id': slider.id}) }}" title="Редактировать элемент">{{ slider.name }}</a>
                        </td>
                        <td>
                            {{ slider.alias }}
                        </td>
                        <td class="ta_c">
                            <span title="ID элемента в БД">{{ slider.id }}</span>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="ta_c">Записи отсутствуют</div>
{% endif %}
